alabaster==0.7.16
arabic-reshaper==3.0.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.8.1
asn1crypto==1.5.1
asttokens==2.0.8
async-generator==1.10
attrs==22.1.0
babel==2.16.0
backcall==0.2.0
beautifulsoup4==4.11.1
bleach==5.0.1
certifi==2022.6.15.1
cffi==1.15.1
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.5
comm==0.2.2
contourpy==1.3.0
cryptography==43.0.3
cssselect2==0.7.0
cycler==0.12.1
debugpy==1.6.3
decorator==5.1.1
defusedxml==0.7.1
diff-match-patch==20230430
distlib==0.3.8
dj-database-url==2.2.0
Django==5.1.1
django-ckeditor==6.7.1
django-import-export==4.1.1
django-js-asset==2.2.0
django-mapbox-location-field==2.1.0
django-xhtml2pdf==0.0.4
docutils==0.18.1
entrypoints==0.4
et-xmlfile==1.1.0
exceptiongroup==1.2.2
executing==1.0.0
fastjsonschema==2.16.1
filelock==3.16.1
fonttools==4.54.1
fsspec==2024.10.0
h11==0.13.0
html5lib==1.1
huggingface-hub==0.26.3
idna==3.3
imageio==2.36.0
imageio-ffmpeg==0.5.1
imagesize==1.4.1
importlib-metadata==4.12.0
importlib-resources==5.9.0
ipykernel==6.15.2
ipynb==0.5.1
ipython==8.5.0
ipython-genutils==0.2.0
ipywidgets==8.0.2
jalali_core==1.0.0
jdatetime==5.0.0
jedi==0.18.1
Jinja2==3.1.2
joblib==1.4.2
jsonschema==4.16.0
jupyter==1.0.0
jupyter-console==6.4.4
jupyter-core==4.11.1
jupyter_client==7.3.5
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.3
kiwisolver==1.4.7
lxml==4.9.1
MarkupSafe==2.1.1
matplotlib==3.9.2
matplotlib-inline==0.1.6
mistune==2.0.4
moviepy==1.0.3
mpmath==1.3.0
nbclient==0.6.8
nbconvert==7.0.0
nbformat==5.4.0
nest-asyncio==1.5.5
networkx==3.4.2
notebook==6.4.12
numpy==2.1.2
ocx-xml==0.1.0
openpyxl==3.1.5
oscrypto==1.3.0
outcome==1.2.0
packaging==21.3
pandas==2.2.3
pandocfilters==1.5.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
pillow==10.4.0
pkgutil_resolve_name==1.3.10
platformdirs==4.3.6
proglog==0.1.10
prometheus-client==0.14.1
prompt-toolkit==3.0.31
psutil==5.9.2
psycopg2-binary==2.9.9
ptyprocess==0.7.0
pure-eval==0.2.2
pycparser==2.21
Pygments==2.13.0
pyHanko==0.25.1
pyhanko-certvalidator==0.26.3
pyotp==2.9.0
pyparsing==3.0.9
pypdf==5.1.0
pyrsistent==0.18.1
PySocks==1.7.1
python-bidi==0.6.3
python-dateutil==2.8.2
python-docx==1.1.2
python-dotenv==0.21.0
pytz==2024.2
pywin32==307
pywinpty==2.0.13
PyYAML==6.0.2
pyzmq==23.2.1
qrcode==8.0
qtconsole==5.3.2
QtPy==2.2.0
regex==2024.11.6
reportlab==4.2.5
requests==2.32.3
safetensors==0.4.5
scikit-learn==1.5.2
scipy==1.14.1
selenium==4.4.3
Send2Trash==1.8.0
sentence-transformers==3.3.1
six==1.16.0
sniffio==1.3.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
Sphinx==5.3.0
sphinx-autodoc-typehints==1.23.0
sphinx-rtd-theme==1.3.0
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
sqlparse==0.5.1
stack-data==0.5.0
svglib==1.5.1
sympy==1.13.1
tablib==3.5.0
terminado==0.15.0
threadpoolctl==3.5.0
tinycss2==1.1.1
tokenizers==0.20.3
torch==2.5.1
tornado==6.2
tqdm==4.66.6
traitlets==5.3.0
transformers==4.46.3
trio==0.21.0
trio-websocket==0.9.2
typing_extensions==4.12.2
tzdata==2024.2
tzlocal==5.2
undetected-chromedriver==3.5.5
Unidecode==1.3.8
uritools==4.0.3
urllib3==1.26.12
virtualenv==20.26.6
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.8.0
websockets==14.1
whitenoise==6.7.0
widgetsnbextension==4.0.3
wsproto==1.2.0
xhtml2pdf==0.2.16
xlwt==1.3.0
zipp==3.8.1
